<%- include('header'); -%>
    <div class="content">
    <h1 id="contact">Contacts</h1>
    <h2>Phone Number: +44 (0)131 451 3324</h2>
    <h2>Enquiries: enquiries@macs.hw.ac.uk</h2>
    <h2>Twitter: twitter.com/macshw </h2>
    </div>
<%- include('footer'); -%>